NEXT_PUBLIC_SUPABASE_URL=https://ddrdazzdllqliznybdqs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkcmRhenpkbGxxbGl6bnliZHFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDM5ODksImV4cCI6MjA4ODkxOTk4OX0.VMhqyd6tGXp7TQJJ_5SZlkK60X1hZOWInLx4bW7YoPw